/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/custom.scss */
body { height: 100%; padding-top: 60px; background: url(/assets/css/images/wild-sea.png) repeat; }

/* line 19, ../sass/custom.scss */
body, input, button, select, textarea, .navbar-search .search-query { font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: 1.6em; }

/* line 25, ../sass/custom.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Source Sans Pro', sans-serif; font-weight: 600; }

/* line 30, ../sass/custom.scss */
.bevel { text-shadow: 1px 2px #fdf6e3; }

/* line 81, ../sass/custom.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

/* line 85, ../sass/custom.scss */
.padding-bottom { padding-bottom: 15px; }

/* line 90, ../sass/custom.scss */
.row .jumbotron { background-color: rgba(0, 0, 0, 0); padding-top: 1em; padding-bottom: 1em; }

/* line 97, ../sass/custom.scss */
.box:nth-child(4n+1) { background-color: rgba(228, 185, 34, 0.3); }

/* line 101, ../sass/custom.scss */
.box:nth-child(4n+2) { background-color: rgba(252, 214, 2, 0.3); }

/* line 105, ../sass/custom.scss */
.jumbotron { background-color: rgba(246, 140, 44, 0.2); }

/* line 109, ../sass/custom.scss */
.col-lg-0 { width: 0; margin-left: 0; }

/* line 114, ../sass/custom.scss */
a { color: #f68c2c; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* line 118, ../sass/custom.scss */
a:hover { color: #e4b922; text-shadow: 1px 2px rgba(255, 255, 255, 0.2); }

/* line 130, ../sass/custom.scss */
.navbar-inverse { background-color: rgba(255, 255, 255, 0.8); border-color: #ed7532; }
/* line 133, ../sass/custom.scss */
.navbar-inverse .navbar-brand { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: #f68c2c; }
/* line 136, ../sass/custom.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: #e4b922; text-shadow: 1px 2px rgba(255, 255, 255, 0.2); }
/* line 139, ../sass/custom.scss */
.navbar-inverse .navbar-text { color: #f68c2c; }
/* line 143, ../sass/custom.scss */
.navbar-inverse .navbar-nav > li > a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: #f68c2c; }
/* line 146, ../sass/custom.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: #e4b922; text-shadow: 1px 2px rgba(255, 255, 255, 0.2); }
/* line 150, ../sass/custom.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: #e4b922; background-color: #ed7532; }
/* line 154, ../sass/custom.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { color: #e4b922; background-color: #ed7532; }
/* line 157, ../sass/custom.scss */
.navbar-inverse .navbar-toggle { border-color: #ed7532; }
/* line 159, ../sass/custom.scss */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #ed7532; }
/* line 161, ../sass/custom.scss */
.navbar-inverse .navbar-toggle .icon-bar { background-color: #f68c2c; }
/* line 164, ../sass/custom.scss */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #f68c2c; }
/* line 166, ../sass/custom.scss */
.navbar-inverse .navbar-link { color: #f68c2c; }
/* line 168, ../sass/custom.scss */
.navbar-inverse .navbar-link:hover { color: #e4b922; }

@media (max-width: 767px) { /* line 172, ../sass/custom.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: #f68c2c; }
  /* line 175, ../sass/custom.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #e4b922; }
  /* line 177, ../sass/custom.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  /* line 179, ../sass/custom.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { color: #e4b922; background-color: #ed7532; } }
/* line 184, ../sass/custom.scss */
.postbox { background-color: rgba(255, 255, 255, 0.7); border-radius: 3px; padding: 5px; }

/* line 191, ../sass/custom.scss */
footer { width: 100%; height: 60px; /* Height of the footer */ background-color: rgba(255, 255, 255, 0.7); padding: 5px; border-radius: 5px; }

/* line 201, ../sass/custom.scss */
.addthis_peekaboo_style { margin-bottom: 0px !important; }
/* line 203, ../sass/custom.scss */
.addthis_peekaboo_style a { height: 50px; }

/* line 208, ../sass/custom.scss */
.carousel { height: auto; margin-bottom: 0; }
/* line 212, ../sass/custom.scss */
.carousel .item { background-color: #ed7532; height: 100%; }
/* line 215, ../sass/custom.scss */
.carousel .item .img { position: absolute; top: 0; left: 0; min-width: 100%; height: 500px; }

/* line 225, ../sass/custom.scss */
.carolsel-caption { z-index: 10; }

/* line 229, ../sass/custom.scss */
.btn-primary { background-color: #f68c2c; color: #fdf6e3; min-width: 150px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; border: none; }

/* line 237, ../sass/custom.scss */
.btn-primary:hover { background-color: #e4b922; min-width: 170px; text-shadow: 1px 2px rgba(0, 0, 0, 0.2); }

/* line 243, ../sass/custom.scss */
.big { font-size: 1.5em !important; }

/* line 247, ../sass/custom.scss */
.panel-primary { border: none; }
/* line 248, ../sass/custom.scss */
.panel-primary .panel-heading { background-color: #f68c2c; border: 1px solid #f68c2c; }

/* line 255, ../sass/custom.scss */
.open-panel { padding: 0px; border: none; }
/* line 259, ../sass/custom.scss */
.open-panel .panel { margin: 0px; margin-bottom: 1px; border: 1px solid #f68c2c; }

/* line 267, ../sass/custom.scss */
.panel-title .label-primary { color: #f68c2c; background-color: #e4b922; padding: 0.4em 0.6em 0.4em; }

/* line 274, ../sass/custom.scss */
.label { margin-bottom: 50px; }

/* line 278, ../sass/custom.scss */
.withFooter { padding-bottom: 0px !important; }

/* line 282, ../sass/custom.scss */
.list-group-item { background-color: #eac74f; }

/* line 286, ../sass/custom.scss */
.list-group-item.clickable { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; background-color: white; cursor: pointer; }

/* line 292, ../sass/custom.scss */
.list-group-item.clickable:hover { background-color: #e4b922; }

/* line 296, ../sass/custom.scss */
.list-group-item.clickable:active { background-color: #f68c2c; }

/* line 300, ../sass/custom.scss */
.btnFooter { display: block; overflow: hidden; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; background-color: #5e8db2; color: #fdf6e3; }

/* line 308, ../sass/custom.scss */
.btnFooter:hover { background-color: #ed7532; }

/* line 312, ../sass/custom.scss */
.nav-tabs > li > a.btn-primary:hover { background-color: #e4b922; min-width: 170px; text-shadow: 1px 2px rgba(0, 0, 0, 0.2); }

/* line 318, ../sass/custom.scss */
hr { border-color: #f68c2c; }

/* line 322, ../sass/custom.scss */
.view { height: auto; margin-bottom: 10px; }

@media (min-width: 1200px) { /* line 328, ../sass/custom.scss */
  .navbar-wrapper { margin-top: 20px; }
  /* line 331, ../sass/custom.scss */
  .navbar-wrapper .container { padding-right: 15px; padding-left: 15px; }
  /* line 336, ../sass/custom.scss */
  .navbar-wrapper .navbar { padding-left: 0; padding-right: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
  /* line 343, ../sass/custom.scss */
  .navbar-nav.navbar-right:last-child { margin-right: 15px; }
  /* line 347, ../sass/custom.scss */
  .navbar-form { padding-right: 30px; }
  /* line 351, ../sass/custom.scss */
  .carousel-caption p { margin-bottom: 20px; font-size: 2em; line-height: 1.4; }
  /* line 357, ../sass/custom.scss */
  .view { height: 100%; margin-bottom: -10px; }
  /* line 362, ../sass/custom.scss */
  .btnFooter { max-height: 0px; }
  /* line 366, ../sass/custom.scss */
  .withFooter:hover .btnFooter { max-height: 50px; } }
